# Local state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform working directory
.terraform/

# Sensitive variable files
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log
crash.*.log